@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body,button,input  {
        @apply font-body
    }
}

.styles_scroll-to-top__2A70v {
    background-color: white;
    right: 40px;
    bottom: 40px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: 7px;
    width: 50px !important;
    height: 50px !important;
    transition: opacity 1s ease-in-out;
    box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
    border: none;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    outline: none;
}